[submodule "frontend"]
	path = frontend
	url = git@gitlab.secoder.net:MrFan/frontend.git
	branch = dev
[submodule "backend"]
	path = backend
	url = git@gitlab.secoder.net:MrFan/backend.git
	branch = dev
